
.producto-item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 8px;
  background: #0d1b2a;
  border-radius: 8px;
  cursor: pointer;
}

.producto-item:hover {
  background: #00c853;
  color: black;
}

.precio {
  font-weight: bold;
  color: #00e676;
}
